:root .theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-cover: #FFC2E6;
  --accent-color: #FF0070;
  --btn-color: #353430;
  --bg-color-text: #FF8DCB;
  --text-cover: #353430;
  --text-main: #353430;
  --btn-color-opacity: rgb(53, 52, 48, 0.5); 
  --width-hidden: 1px;
  --height-hidden: 1px;
  --react-hidden: rect(0, 0, 0, 0);
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-cover: #FFC2E6;
    --accent-color: #FF0070;
    --btn-color: #353430;
    --bg-color-text: #FF8DCB;
    --text-cover: #353430;
    --text-main: #353430;
    --btn-color-opacity: rgb(53, 52, 48, 0.5); 
    --element-display: none;
    --width-hidden: 1px;
    --height-hidden: 1px;
    --react-hidden: rect(0, 0, 0, 0);
  }
}


